@using System.Data
@using System.Data.SqlClient
@using Data.Model
@model   IEnumerable<studentviewmodel>
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Home</title>
</head>
<body>
	<form method="post" name="Display">
		<h2>Home</h2>
		@Html.ActionLink("Add New Record", "Insert")
		<br />

			@foreach (var item in Model)
			{
				<table>
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Namr)
							
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Address)
						</td>
					</tr>
				</table>
			}



		</form>
	</body>
</html>  